:root {
    --text-color: #000000;
    --link-color: #000000;
    --background-color: #bbc8fc;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Nunito Sans", sans-serif;
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

nav {
    background-color: #e6e6ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 100px;
}

nav .left a {
    color: var(--link-color);
    font-size: 25px;
    font-weight: bold;
}

nav .right a {
    color: var(--link-color);
    padding: 5px 15px;
    border: 3px solid var(--link-color);
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
 }

nav .right a span {
    font-size: 17px;
    vertical-align: middle;
    margin-left: 5px;
}

nav .right a:last-child {
    font-size: 17px;
    vertical-align: middle;
    padding: 5px 15px;
    margin-right: 0;

}

nav .right a:hover {
    padding: 5px 15px;
    background-color: #bbc8fc;
    color: #071CC8;
    border: 3px solid #071CC8;
    border-radius: 8px;
}

/*SECTION 1 PHOTO*/


.content-wrapper {
    position: center
    width: 80%; /* Adjust width as needed for your content */
    margin: 20px 20px; /* Center the content wrapper */
    padding: 20px;
    background-color: #e6e6ff; /* Semi-transparent background for readability */
    border: 2px solid var(--link-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*SECTION 2 HERO*/
.hero-section {
    display: flex;
    background-color: #bbc8fc;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border-radius: 8px;
    margin: 60px 10px;
    gap: 10px;
}

.hero-section .text {
    flex: 5;
}

 .hero-section .text h2 {
    font-size: 30px;
 }

.hero-section .text p {
    font-size: 20px;
    gap: 20px;
 }
.hero-section .text .links {
    margin-top: 25px;
    color: var(--link-color);
 }

 .hero-section .text .links a {
    display: inline-block;
    background-color: #bbc8fc;
    padding: 5px 10px;
    border: 3px solid var(--link-color);
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
 }

 .hero-section .text .links a:hover {
    background-color: #e6e6ff;
    color: #071CC8;
    border: 3px solid #071CC8;
 }

.hero-section .headshot {
    float: left;
    display: flex;
    justify-content: left;
    margin: 0px 15px;
}

.hero-section .photo img {
    max-width: 350px;
    border-radius: 100%;
 }



@media (max-width: 600px) {
    /* NAVBAR */
    nav {
        padding: 0 20px;
    }
    
    nav .right a {
        font-size: 20px;
    }
    
    nav .right a:last-child {
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }

    nav .right a span {
        display: none;
    }

    nav .right a:hover {

}
}
    
footer {
  margin-bottom: 0;
}

footer {
    background: #e6e6ff;
    color: #000000;
    text-align: center;
    padding: 0 22px;
    margin-top: 0rem;
}

footer a {
    color: var(--link-color);
    text-decoration: none;
    margin: 0 0.5rem;
}

footer a:hover {
    background-color: #bbc8fc;
    color: #071CC8;
    border: 3px solid #071CC8;
}
